@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;800&family=Ubuntu:wght@300;400;500;700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.custom-loader-executing {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 4px solid #F4E22A;
  animation: s10-1 0.6s infinite linear alternate,
    s10-2 1.2s infinite linear;
}

@keyframes s10-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
  }

  12.5% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
  }

  62.5% {
    clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
  }

  75% {
    clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
  }

  100% {
    clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
  }
}

@keyframes s10-2 {
  0% {
    transform: scaleY(1) rotate(0deg)
  }

  49.99% {
    transform: scaleY(1) rotate(135deg)
  }

  50% {
    transform: scaleY(-1) rotate(0deg)
  }

  100% {
    transform: scaleY(-1) rotate(-135deg)
  }
}

.output-container {
  max-width: 100%;
  overflow-x: auto;
  padding: 10px;
  padding-bottom: 21px;
}

.customInput {
  font-family: 'Source Code Pro';
}

.output-text {
  white-space: pre-line;
}

.workSpace {
  height: calc(100vh - 60px);
}

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: rgb(51 65 85);
  background-repeat: no-repeat;
  background-position: 50%;
  transition: all;
  transition-duration: 300ms;
}

.gutter:hover {
  background-color: #0a84ff;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
  padding: 7px;
}

.custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
}

.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  --c: radial-gradient(farthest-side, #25F41E 92%, #0000);
  background:
    var(--c) 50% 0,
    var(--c) 50% 100%,
    var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: s2 1s infinite;
}

.custom-loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear
}

@keyframes s2 {
  100% {
    transform: rotate(.5turn)
  }
}

.carousel {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: fit-content;
}

.carousel-cell {
  margin: 35px;

  width: 300px !important;
  height: 185px;
  border-radius: 15px;
  counter-increment: carousel-cell;
  transition: all .3s ease;
  opacity: 0.2;

}

.carousel-cell.is-selected {
  filter: blur(0);
  opacity: 1;
  transform: scale(1.1);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.Underline {
  position: relative;
}

.Underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: whitesmoke;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.Underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.active {
  font-weight: 500;
  font-family: 'ubuntu';
}


.square {
  position: relative;
  width: 170px;
  height: 170px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.square span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
  transition: 0.5s;
  animation: animate 6s linear infinite;
  border: none;
}

.square span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 0.5s;
  animation: animate 4s linear infinite;
  border: none;
}


.square span:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 31% 45% 74% 35% / 38% 56% 51% 87%;
  transition: 0.5s;
  animation: animate2 10s linear infinite;
  border: none;
}


.content {
  position: relative;
  color: #fff;
  transition: 0.5s;
  z-index: 1000;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.giveShadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* width */
::-webkit-scrollbar {
  display: none;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  max-width: 1300px;
  margin: auto;
  font: "ubuntu";
}


.shadows {
  position: relative;
  text-shadow: -15px 5px 20px #006494;
  color: white;
  letter-spacing: -0.07em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 75px;
  font-weight: 1000;
  transition: all .25s ease-out;
}

.shadows:hover {
  text-shadow: -16px 6px 15px #006da4;
}